<div class="bg-off-white pv4">
  <div class="ph3 mw7 flex-l">
    <div class="w-40-l">
      <h2 class="f1 b lh-title mb2 tvm-rl-l">{{.intro.heading}}</h2>
      <h3 class="f3 lh-title mb2 ml5 mtn5 tvm-rl-l pt5 pl4 pb3 ls-middle bg-highlight">{{.intro.title}}</h3>
    </div>
    <div class="w-60-l">
        <img src="img/default/about-b-img.png" alt="Vanja Ljevar" class="center db mb3">
        <h4 class="f2 b lh-title mb2">{{.intro.subtitle}}</h4>
        <p class="mb4 mw6">{{.intro.text}}</p>
        <div class="tc">
          <a href="/products"><p class="pa1 link b dib black mb0">Read more →</p></a>
        </div>
    </div>
    
    

    <!-- <div class="flex-ns mhn2-ns mb3">
      {{ range .products }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div> -->

    <!-- <div class="tc">
      <a href="/products" class="btn raise">See all products</a>
    </div> -->
  </div>
</div>
