<nav class="overflow-x-scroll overflow-x-visible-ns flex flex-row justify-around center bg-white divider-grey relative">
	<div class="flex-2">
		<!-- Primary Nav -->
		<ul class="flex">
			<li><a href="/about" class="pa4 no-underline ttu db">About</a></li>

			<li><a href="/portfolio" class="pa4 no-underline ttu db">Portfolio</a></li>

			<li><a href="/post" class="pa4 no-underline ttu db">Blog</a></li>

			<li><a href="/contact" class="pa4 no-underline ttu db">Contact</a></li>
		</ul>
	</div>
	<div class="flex-1">
		<!-- Logo -->
		<a href="/" class="pa4 db mr4 h-100 w3 flex-none">
			<img src="/img/default/logo.svg" alt="Tryanglist logo" class="br0 db mb0 w-100"/>
		</a>
	</div>
	<div class="flex-2">
		<ul class="flex">
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
		</ul>
	</div>
</nav>
