
<nav class="pt4-ns center bg-white divider-grey relative">
		<!-- Primary Nav -->
		<ul class="flex justify-center w-100">
			<li><a href="/" class="pa1 pa4-ns no-underline ttu db">Home</a></li>

			<li><a href="/about" class="pa1 pa4-ns no-underline ttu db">About</a></li>
<!-- 
			<li><a href="/portfolio" class="pa1 pa4-ns no-underline ttu db">Portfolio</a></li> -->

			<li><a href="/post" class="pa1 pa4-ns no-underline ttu db">Blog</a></li>

			<li><a href="/contact" class="pa1 pa4-ns no-underline ttu db">Contact</a></li>

		</ul>
		
		<div class="nav__icon">
			<span></span>
			<span></span>
			<span></span>
		</div>



	
	<!-- <div class="flex-1">
		<ul class="flex justify-end  pr4">
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
		</ul>
	</div> -->
</nav>
<div class="mw7 center pt3 dn-ns nav-small">
	<!-- Logo --> 
	<a href="/" class="measure-narrow center">
		<img src="/img/default/logo.svg" alt="Tryanglist logo" class="db w4 center mb4 br0"/>
	</a>
</div>


