
<nav class="pt4center bg-white divider-grey relative">

		<!-- Primary Nav -->
		<ul class="flex justify-center">
			<li><a href="/about" class="pa4 no-underline ttu db">About</a></li>

			<li><a href="/portfolio" class="pa4 no-underline ttu db">Portfolio</a></li>

			<li><a href="/post" class="pa4 no-underline ttu db">Blog</a></li>

			<li><a href="/contact" class="pa4 no-underline ttu db">Contact</a></li>
		</ul>

	
	<!-- <div class="flex-1">
		<ul class="flex justify-end  pr4">
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
		</ul>
	</div> -->
</nav>
<div class="bg-white">
	<!-- Logo --> 
	<a href="/" class="pa2 db flex-none w-30 w-15-ns maa">
		<img src="/img/default/logo.svg" alt="Tryanglist logo" class="br0 db mb0 w-100"/>
	</a>
</div>
