{{ define "main" }}
<div class="ph3 bg-white">
	<div class="center mw7 pv3">
    <div class="flex-ns mhn2-ns relative mb3">
      <div class="w4-ns mh2-ns relative">
        <h1 class="f2 b lh-title mb2 tvm-rl-ns ls-large absolute tr-180-ns transformed-ns">ABOUT</h2>
        <h3 class="f3 lh-title ml4-ns ml5 tvm-rl-ns pt5-ns pt5  mb2 pr4 pb3 ph3 ls-middle bg-highlight absolute-ns tr-180-ns">Vanja Ljevar</h3>
      </div>
      <div class="w-40-ns">
        <!-- Image source: Canva website - Photo by Claire Thibault -->
        <img src="/img/default/i-about-home.jpg" alt="Contact me" class="center db mb3">
      </div>
      <div class="w-50-ns absolute-ns bg-white-02 pa3 top-3 di-ns dn">
          <img src="/img/default/logo.svg" alt="Contact me" class="w4 db mb3">
            <h4 class="f4 lh-title mb2">Data Scientist. Social Psychologist. Brand Storyteller.</h4>
            <p class="mw6 pf-1">After years of working on research projects for globally recognised clients (from both academic and industry perspective) 
              Tryanglist became an idea of mine in which I planned to combine my passion for data science techniques, advertising and psychology to change perspectives in creating customer insights.</p>
            <p class="mw6 pf-1">I can also be found as a PhD researcher at the University of Nottingham where I 
              investigate customer perceptions and work as a teaching affiliate at the Business Analytics module.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey-1 pv4 mt2">
    <div class="ph3 mw7 center">
      <div class="pa3 mb3 bg-white" style="margin-top:-50px;">
        <h3 class="f3 tc lh-title mb3">My main goal is helping businesses to not settle. Think in a predatory way. Try new angles. Create real momentum for transformation.</h3>
      </div>
      <h2 class="f2 tc lh-title mt5 mb2">AREAS OF INTEREST</h2>
      <div class="mw7 center ph3 pt4">
        <div class="w-100 flex-ns mhn1-ns flex-wrap">
          <div class="ph1-ns w-50-ns pv2">
              <h3 class="f4 pv2 lh-title">
                  Consumr behaviour & behavioural change
              </h3>
              <p>
                  short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
              </p>
          </div>
          <div class="ph1-ns w-50-ns pv2">
              <h3 class="f4 pv2 lh-title">Customer segmentation & customer profiling</h3>
              <p>
                  short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
              </p>
          </div>
        </div>
        <div class="w-100 flex-ns mhn1-ns flex-wrap">
            <div class="ph1-ns w-50-ns pv2">
                <h3 class="f4 pv2 lh-title">Brand storytelling & customer perceptions</h3>
                <p>
                    short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
                </p>
            </div>
            <div class="ph1-ns w-50-ns pv2">
                <h3 class="f4 pv2 lh-title">Retention value analysis</h3>
                <p>
                    short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
                </p>
            </div>
          </div>
      </div>
      <div class="mw7 center ph3 pt2">
        <h2 class="f2 tc lh-title mt5 mb2">MY MAIN SET OF SKILLS</h2>
        <div class="w-100 flex-ns flex-row-ns inline-flex-ns justify-between mhn1-ns flex-wrap mb3 pt4">
          <div class="ph2-ns pv2 w-33-ns">
            <h4 class="f3 pv2">
              <img src="/img/icons/machine-learning.svg" alt="Machine learning" class="ph2 w-15"> 
              Machine Learning</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="ph2-ns pv2 w-33-ns">
            <h4 class="f3 pv2">
              <img src="/img/icons/data-analysis-python.svg" alt="Analyitics Using Python" class="ph2 w-15">
              Analyitics by Python
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="ph2-ns pv2 w-33-ns">
            <h4 class="f3 pv2">
              <img src="/img/icons/statistical-modeling.svg" alt="Statistical Modelling" class="ph2 w-15">
              Statistical Modelling
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="ph2-ns pv2 w-33-ns">
            <h4 class="f3 pv2">
              <img src="/img/icons/deep-learning.svg" alt="Machine learning" class="ph2 w-15">
              Deep Learning
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="ph2-ns pv2 w-33-ns">
            <h4 class="f3 pv2">
              <img src="/img/icons/sql.svg" alt="SQL" class="ph2 w-15">
              SQL
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="ph2-ns pv2 w-33-ns">
            <h4 class="f3 pv2">
              <img src="/img/icons/qualitative-methods.svg" alt="Qualitative Methods" class="ph2 w-15">
              Qualitative Methods
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="ph3 pv4 mt4 bg-white">
  <h2 class="f2 tc lh-title mv3">MY STORY IS NOT LINEAR</h2>
  <h3 class="f3 tc lh-title mb4">It starts and finishes with my passion for new ideas and understanding people</h3>
          
	<div class="center mw7 pv3">
    <div class="flex-ns mhn2-ns relative mb3 mh3-ns">
      <div class="w-50-ns">
        <!-- Image source: Canva website - Photo by Claire Thibault -->
        <img src="/img/default/about-full-width.jpg" alt="Contact me" class="center db mb3">
      </div>
      <div class="w-50-ns bg-white-02 ph3-ns">
        <h3 class="f3 b lh-title mb2">Market research in advertising and marketing</h3>
        <h4 class="f4 lh-title mb2">Integrating psychological theory and machine learning to develop a concept of Customer Change Modelling</h4>
        <p class="mw6 pf-1">I worked with transactional data, e-commerce, survey data and open-source – big data.</p>
      </div>
    </div>
  </div>
  <div class="center mw7 pv3">
    <div class="flex-ns mhn2-ns relative mb3 mh3-ns">
      <div class="w-50-ns bg-white-02 ph3-ns">
          <h3 class="f3 b lh-title mb2">Consulting combining machine learning with social psychology</h3>
          <h4 class="f4 lh-title mb2">Lorem Ipsum - what is the focus?</h4>
          <p class="mw6 pf-1">My previous consulting work included working with clients across the globe, in industries that range from FMCG, beauty industry to e-commerce businesses</p>
      </div>
      <div class="w-50-ns">
          <!-- Image source: Canva website - Photo by Claire Thibault -->
          <img src="/img/default/story-full-width.jpg" alt="Contact me" class="center db mb3">
        </div>
    </div>
  </div>
</div>
<div class="mt4 white bg-primary pa4 flex flex-row-ns justify-center ">
  <div class="mr4"><h4 class="f4 lh-title mb2">Have a Question. I have Answers!</h3></div>
  <div class="">
      <a href="/contact"><p class="pa1 link b dib black mb0">Contact me →</p></a>
  </div>
</div>

{{ end }}
