{{ define "main" }}
<div class="ph3 bg-white">
	<div class="center mw7 pv3">
    <div class="flex-ns mhn2-ns relative mb3">
      <div class="w4-ns mh2-ns relative">
        <h1 class="f2 b lh-title mb2 tvm-rl-ns ls-large absolute tr-180-ns transformed-ns">About</h2>
        <h3 class="f3 lh-title ml4-ns ml5 tvm-rl-ns pt5-ns pt5  mb2 pr4 pb3 ph3 ls-middle bg-highlight absolute-ns tr-180-ns">Vanja Ljevar</h3>
      </div>
      <div class="w-40-ns">
        <!-- Image source: Canva website - Photo by Claire Thibault -->
        <img src="/img/default/i-about-home.jpg" alt="Contact me" class="center db mb3">
      </div>
      <div class="w-50-ns absolute-ns bg-white-02 pa3 top-3 di-ns dn">
          <img src="/img/default/logo.svg" alt="Contact me" class="w4 db mb3">
            <h4 class="f4 lh-title mb2">Data Scientist. Social Psychologist. Brand Storyteller.</h4>
            <p class="mw6 pf-1">After years of working on research projects for globally recognised clients (from both academic and industry perspective) 
              Tryanglist became an idea of mine in which I planned to combine my passion for data science techniques, advertising and psychology to change perspectives in creating customer insights.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey-1 pv4 mt2">
    <div class="ph3 mw7 center">
      <div class="pa3 mb3 bg-white" style="margin-top:-50px;">
        <h3 class="f3 tc lh-title mb3">My main goal is helping businesses to not settle. Think in a predatory way. Try new angles. Create real momentum for transformation.</h3>
      </div>
      <h2 class="f2 tc lh-title mv5">AREAS OF INTEREST</h2>
      <div class="mw7 center ph3 pt4">
        <div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
          <div class="ph1-ns w-50-ns">
              <h2 class="f3 pv1 lh-title mh3">
                  Consumer behaviour & behavioural change
              </h2>
              <p>
                  short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
              </p>
          </div>
          <div class="ph1-ns w-50-ns">
              <h2 class="f3 pv1 lh-title mh3">Customer segmentation & customer profiling</h2>
              <p>
                  short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
              </p>
          </div>
        </div>
        <div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
            <div class="ph1-ns w-50-ns">
                <h2 class="f3 pv1 lh-title mh3">Brand storytelling & customer perceptions</h2>
                <p>
                    short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
                </p>
            </div>
            <div class="ph1-ns w-50-ns">
                <h2 class="f3 pv1 lh-title mh3">Retention value analysis</h2>
                <p>
                    short text which explains meaning of these activities from client's perspective. When to ask for these services, research, consalting...
                </p>
            </div>
          </div>
      </div>
      <div class="mw7 center ph3 pt4">
        <div class="w-100 flex-ns flex-row-ns inline-flex-ns justify-between mhn1-ns flex-wrap mb3">
          <div class="ph1-ns tc pv4 w-33-ns">
            <img src="/img/icons/machine-learning.svg" alt="Machine learning" class="pv2 w-20">
            <h4 class="f4">Machine Learning</h4>
          </div>
          <div class="ph1-ns tc pv4 w-33-ns">
            <img src="/img/icons/data-analysis-python.svg" alt="Analyitics Using Python" class="pv2 w-20">
            <h4 class="f4">Analyitics Using Python</h4>
          </div>
          <div class="ph1-ns tc pv4 w-33-ns">
            <img src="/img/icons/statistical-modeling.svg" alt="Statistical Modelling" class="pv2 w-20">
            <h4 class="f4">Statistical Modelling</h4>
          </div>
          <div class="ph1-ns tc pv4 w-33-ns">
            <img src="/img/icons/deep-learning.svg" alt="Machine learning" class="pv2 w-20">
            <h4 class="f4">Deep Learning</h4>
          </div>
          <div class="ph1-ns tc pv4 w-33-ns">
            <img src="/img/icons/sql.svg" alt="SQL" class="pv2 w-20">
            <h4 class="f4">SQL</h4>
          </div>
          <div class="ph1-ns tc pv4 w-33-ns">
            <img src="/img/icons/qualitative-methods.svg" alt="Qualitative Methods" class="pv2 w-20">
            <h4 class="f4">Qualitative Methods</h4>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="ph3 pv4 mt4 bg-white">
  <h2 class="f2 tc lh-title mv5">MY STORY IS NOT LINEAR</h2>
	<div class="center mw7 pv3">
    <div class="flex-ns mhn2-ns relative mb3 mh3">
      <div class="w-60-ns">
        <!-- Image source: Canva website - Photo by Claire Thibault -->
        <img src="/img/default/about-full-width.jpg" alt="Contact me" class="center db mb3">
      </div>
      <div class="w-50-ns absolute-ns bg-white-02 pa3 top-3 di-ns dn">
          <h4 class="f4 lh-title mb2">But it is a part of a circle, as it starts and finishes with my passion for new ideas and understanding people.</h4>
          <p class="mw6 pf-1">Coming from the market research background I worked in advertising and marketing for several years before my passion for quantified results led me to data science.</p>
      </div>
    </div>
  </div>
</div>
<div class="db mb3">
  <div class="ph3 bg-white">
      <div class="mw7 center ph3 pt4">
        {{ range $index, $element := .Params.values }}
          {{ if modBool $index 2 }}
            {{ partial "media-block" $element }}
          {{ else }}
            {{ partial "media-block-reverse" $element }}
          {{ end }}
        {{ end }}
      
      </div>
    </div>
{{ end }}
